<h1>Portfolio</h1>
<br>
<h2>Cash available: $<%= current_user.cash %></h2>
<br>
<%= form_tag '/cash/add' do %>
    <%= label_tag :cash %>
    <%= number_field_tag :cash, nil, min: 1%>
    <%= submit_tag "Add Cash", data: {confirm: 'Are you sure you want to add cash?'}%>
<%end%>
<%= form_tag '/cash/withdraw' do %>
    <%= label_tag :cash %>
    <%= number_field_tag :cash, nil, min: 1%>
    <%= submit_tag "Withdraw Cash", data: {confirm: 'Are you sure you want to withdraw cash?'}%>
<%end%>

<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price ($)</th>
            <th scope="col">Total ($)</th>
            <th scope="col">Sell Shares</th>
        </tr>
    </thead>
    <tbody>
        <% @portfolio.each do |stock| %>
        <tr>
                <td><%= stock.symbol %></td>
                <td><%= stock.name %></td>
                <td><%= stock.shares %></td>
                <td><%= stock.total/stock.shares %></td>
                <td><%= stock.total %></td>
                <td>
                <%= form_tag '/sell' do %>
                    <%= number_field_tag :shares, nil, min: 1, max: stock.shares %>
                    <%= hidden_field_tag :symbol, stock.symbol %>
                    <%= submit_tag "sell", data: {confirm: 'Are you sure you want to sell this stock?'}%>
                <%end%>
                </td>
        </tr>
        <% end %>
        
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><%= @totalPortfolioValue.round(2) %></td>
        </tr>
    </tbody>
</table>