<h1>Stock Exchange</h1>
<p>Quote a stock then buy</p>

<%= form_tag '/quote' do %>
    <%= label_tag :symbol %>
    <%= text_field_tag :symbol %>
    <%= submit_tag "Quote" %>
<%end%>

<% if @price %>
    <h3><%= @name %> latest price is $<%= @price %>.</h3>
    <h3>This stock opened at $<%= @openPrice %>.</h3>
<% end %>